@import url('https://fonts.googleapis.com/css?family=Acme');

html {
  height: 100%;
  max-width: 100%;
}
body {
  background: url("Image/img.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  max-width: 100%;

  font-family: 'Acme', sans-serif;
  margin: 0;
}